* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f3831a;
  font-family: 'Arial', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #5f4bb6;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-block: 20px;
}

#heading {
  font-size: 5rem;
  margin-bottom: 10px;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 15px;
  background-color: #f0a202;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #373b44;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.box:hover {
  background-color: #e08d1f;
}

.game span {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.game span:active {
  position: relative;
  box-shadow: 2.5px 2px 5px rgba(0, 0, 0, 0.3);
}

.tracker {
  font-size: 20px;
  border: 4px solid #373b44;
  padding: 10px;
  background-color: #fff;
  color: #373b44;
  border-radius: 10px;
}

.btn {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  border: 0;
  touch-action: manipulation;
  margin-inline: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.btn:active {
  background: var(--color);
  color: #fff;
}

.hide {
  display: none;
}
